/* Обнуление */
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	background-color: black;
	color: #fff;
	font-size: 25px;
}

.wrapper1111 {
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px	) {
	.wrapper1111 {
		padding: 50px 10px;
	}
}

/* Основные Стили */
.slider {
	
	min-width: 0;
	position: relative;
	padding: 0 90px;
	}
	

	/* стили для нашей ленты (track) */
	.slick-track {
		display: flex;
	}

	/* стили для ограничиющей оболочки */
	.slick-list {
		overflow: hidden;
	}

/* стилизация стрелок для слайдера */
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.slider .slick-prev {
	left: 0;
	background: url(/img/sl-arrow_l.svg) 0 0/100% no-repeat;
}
.slider .slick-next {
	right: 0;
	background: url(/img/sl-arrow_r.svg) 0 0/100% no-repeat;
}

/* стили для нижних точек слайдера */
.slider .slick-dots  {
	display: flex;
justify-content: center;
align-items: center;
}
.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}
.slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 10px;
}
.slider .slick-dots li.slick-active button { 
background-color: transparent;
border: 1px solid #fff;
}

/* стили для ленты */
.slick-track {
	display: flex;
	align-items: flex-end;


}
/* стиль для стрелки left right */
.slick-disabled {
	opacity:0.2 ;
}




/* https://www.youtube.com/watch?v=rXNfDfqtM3M

30:26 */